.login-wrapper {
    margin-top: 10%;
    max-width: 1100px;
}

.login-form > a {
    margin-left: 15px;
}

.login-form > button,
.sign-in-block > a > button {
    font-size: 14pt;
    font-weight: bolder;
}

.sign-in-block {
    margin-top: 50px;
}

.sign-in-block > span {
    margin-left: 15px;
    font-size: 14pt;
    opacity: 0.5;
}